
<style>
#did{
    margin-left: 4%;
    margin-right: 4%;
}
.specialty-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.specialty-card:hover {
    transform: scale(1.05);
}

.specialty-card .card-img-top {
    transition: transform 0.3s ease-in-out;
}

.specialty-card:hover .card-img-top {
    transform: scale(1.1);
}

.specialty-card .card-img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.specialty-card:hover .card-img-overlay {
    opacity: 1;
}

.specialty-card .card-title,
.specialty-card .card-text {
    color: #fff;
    text-align: center;
}

.specialty-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.specialty-card .card-text {
    font-size: 1rem;
}


        

    
    </style>